<!-- Mensaje si no hay reportes -->
<!-- Mensaje si no hay reportes -->
<div *ngIf="!cargando && reportes.length === 0" class="alert alert-info text-center my-4">
  Aún no tienes reportes. Crea el primer reporte dando
  <a [routerLink]="['/dashboard/reportes/crear']">clic aquí</a>.
</div>

<h2 class="text-center mt-5 mb-5 fw-bold text-primary">Mis Reportes</h2>


<!-- Tabla de reportes -->
<table *ngIf="!cargando && reportes.length" class="tabla-reportes">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rep of reportes">
      <td>
        <img
          *ngIf="rep.foto"
          [src]="rep.foto"
          alt="Imagen del reporte"
          style="height: 50px; width: auto; border-radius: 4px; cursor: pointer;"
          (click)="abrirImagen(rep.foto)"
        />
        <span *ngIf="!rep.foto">--</span>
      </td>
      <td>{{ rep.titulo }}</td>
      <td>{{ rep.descripcion }}</td>
      <td>{{ rep.nombreCategoria || '---' }}</td>
      <td>{{ rep.fecha | date: 'short' }}</td>
      <td>
        {{ rep.estadoActual }}
        <span *ngIf="rep.estadoActual === 'RESUELTO'">
          <i class="bi bi-patch-check-fill me-2"></i>
        </span>
        <span *ngIf="rep.estadoActual === 'ELIMINADO'">
          <i class="bi bi-x-circle me-2"></i>
        </span>
      </td>
      <td>
        <div class="d-flex flex-wrap justify-content-center align-items-center gap-2">
          <button type="button" class="btn btn-primary" (click)="verDetalle(rep.id)">
            <i class="bi bi-eye me-2"></i> Ver detalles
          </button>
          <ng-container *ngIf="rep.estadoActual !== 'RESUELTO' && rep.estadoActual !== 'ELIMINADO'">
            <button type="button" class="btn btn-primary" (click)="editarReporte(rep.id)">
              <i class="bi bi-pencil-square me-2"></i> Editar
            </button>
            <button type="button" class="btn btn-danger" (click)="eliminarReporte(rep.id)">
              <i class="bi bi-file-earmark-x me-2"></i> Eliminar
            </button>
          </ng-container>
          <button
            *ngIf="rep.estadoActual === 'VERIFICADO'"
            (click)="marcarComoResuelto(rep.id)"
            class="btn btn-success"
          >
            <i class="bi bi-patch-check me-2"></i> Marcar como resuelto
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal para mostrar imagen -->
<div class="modal-imagen" *ngIf="imagenModal" (click)="cerrarImagen()">
  <img [src]="imagenModal" alt="Vista previa de imagen" />
  <button class="btn-cerrar" (click)="cerrarImagen(); $event.stopPropagation()">×</button>
</div>
