<div class="reportes-container">
  <h2>📋 Mis Reportes</h2>

  <div *ngIf="cargando" class="loader">Cargando reportes...</div>

  <table *ngIf="!cargando && reportes.length" class="tabla-reportes">
    <thead>
      <tr>
        <th>Título</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rep of reportes">
        <td>{{ rep.titulo }}</td>
        <td>{{ rep.nombreCategoria }}</td>
        <td>{{ rep.fecha | date:'short' }}</td>
        <td>{{ rep.estadoActual }}
        <span *ngIf="rep.estadoActual === 'RESUELTO'">✅</span>
        <span *ngIf="rep.estadoActual === 'ELIMINADO'">❌</span>
        </td>

        <td>
        <!-- Mostrar solo si el estado NO es RESUELTO ni ELIMINADO -->
        <ng-container *ngIf="rep.estadoActual !== 'RESUELTO' && rep.estadoActual !== 'ELIMINADO'">
            <button (click)="editarReporte(rep.id)">✏️ Editar</button>
            <button (click)="eliminarReporte(rep.id)">🗑️ Eliminar</button>
        </ng-container>

        <!-- Mostrar botón de RESUELTO solo si está VERIFICADO -->
        <button *ngIf="rep.estadoActual === 'VERIFICADO'" (click)="marcarComoResuelto(rep.id)" class="btn-resuelto">
           ✅ Marcar como resuelto
        </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!cargando && reportes.length === 0" class="no-result">
    No tienes reportes aún.
  </div>
</div>
