<div class="login-container">
    <div class="login-left">
      <img  src="assets/02.jpeg" alt="Imagen de accidente" />
    </div>
  
    <div class="login-right">
      <h2 class="title">Iniciar Sesión</h2>
  
    <!--  <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-container">    
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput type="email" name="email"  required>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password"  required>
        </mat-form-field>
  
        <div class="button-group">
          
        </div>
  
       
      </form>  -->
    </div>
  </div>