<div class="login-container">
    <div class="login-left">
      <img  src="assets/02.jpeg" alt="Imagen de accidente" />
    </div>
  
    <div class="login-right">
      <h2 class="title">Enviar Codigo de Validacion</h2>
  
      <form #loginForm="ngForm" (ngSubmit)="enviarCodigo()" class="form-container">    
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>
      
        <div class="button-group">
          <button mat-raised-button color="primary" type="submit">Enviar código</button>
        </div>

        <div>
            <p class="forgot-password">
                ¿Ya tiene cuenta? Haga click <a routerLink="/login">Aquí</a>.
            </p>
        </div>
      </form>
      
    </div>
  </div>