<div class="login-container">
  <div class="login-left">
    <img src="assets/02.jpeg" alt="Imagen de accidente" />
  </div>

  <div class="login-right">
    <h2 class="title">Cambiar Contraseña</h2>

    <form (ngSubmit)="onChangePassword()" #passwordForm="ngForm" class="form-container">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" name="nuevaPassword" [(ngModel)]="nuevaPassword" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input matInput type="password" name="confirmarPassword" [(ngModel)]="confirmarPassword" required>
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
      </div>

      <p class="forgot-password">
        ¿Ya tiene cuenta? Haga click <a routerLink="/login">Aquí</a>.
      </p>
    </form>
  </div>
</div>
