<div class="dashboard-container d-flex vh-100">
  <aside
    class="sidebar  sticky-top d-flex flex-sm-column flex-row flex-nowrap align-items-center" style="background-color: #9b9da0;"
    [ngClass]="{ 'collapsed': !menuAbierto, 'expanded': menuAbierto }"
  >
    <a  class="d-block p-3 link-dark text-decoration-none" title="Icon-only">
      <span class="fs-3">☰</span>
    </a>

    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
      <li class="nav-item">
        <div class="nav-link py-3 px-2" title="Inicio" (click)="navegar('/dashboard')">
          <img src="assets/house.svg" alt="Inicio" width="24" height="24">
        </div>
      </li>
      <li>
        <div class="nav-link py-3 px-2" title="Reportar incidente" (click)="navegar('/dashboard/reportes/crear')">
          <img src="assets/file-earmark-plus.svg" alt="Nuevo reporte" width="24" height="24">
        </div>
      </li>
      <li>
        <div class="nav-link py-3 px-2" title="Mis reportes" (click)="navegar('/dashboard/reportes/mis')">
          <img src="assets/bookmark.svg" alt="Mis reportes" width="24" height="24">
        </div>
      </li>
      <li>
        <div class="nav-link py-3 px-2 disabled" title="Notificaciones">
          <img src="assets/bell.svg" alt="Notificaciones" width="24" height="24">
        </div>
      </li>
      <li>
        <div class="nav-link py-3 px-2" title="Editar perfil" (click)="navegar('/dashboard/editarPerfil')">
           <img src="assets/person-gear.svg" alt="Editar perfil" width="24" height="24">
        </div>
      </li>
    </ul>

    <div class="dropdown">
      <div class="nav-link py-3 px-2" title="Cerrar sesión" (click)="cerrarSesion()">
        <img src="assets/box-arrow-left.svg" alt="Cerrar sesion" width="24" height="24">
      </div>
    </div>
  </aside>

  <main class="min-vh-100">
    <router-outlet></router-outlet>
  </main>
</div>