<div class="dashboard-container position-relative vh-100">
  <aside
    class="sidebar position-fixed h-100"
    [ngClass]="{ 'collapsed': !menuAbierto, 'expanded': menuAbierto }"
    style="background-color: #7cbcf1; top: 0; left: 0; z-index: 1000;"
  >
    <!-- Botón de toggle -->
    <a (click)="toggleMenu()" class="d-block p-3 link-dark text-decoration-none" style="cursor: pointer;" title="Expandir/Colapsar">
      <img src="assets/list.svg" alt="Toggle Sidebar" width="24" height="24">
    </a>

    <!-- Navegación -->
    <ul class="nav flex-column w-100">
      <li class="nav-item" *ngFor="let item of menuItems">
        <div class="nav-link d-flex align-items-center px-3" (click)="navegar(item.ruta)" style="cursor: pointer;">
          <img [src]="item.icono" [alt]="item.nombre" width="24" height="24" class="me-2" />
          <span *ngIf="menuAbierto" class="sidebar-text" style="color: #000000;" >{{ item.nombre }}</span>
        </div>
      </li>
    </ul>

    <div class="mt-auto">
      <div class="nav-link py-2 px-2 d-flex align-items-center" (click)="cerrarSesion()" style="cursor: pointer;">
        <img src="assets/box-arrow-left.svg" alt="Cerrar sesión" width="24" height="24" class="me-2">
        <span *ngIf="menuAbierto" class="sidebar-text " style="color: #000000;">Cerrar sesión</span>
      </div>
    </div>
  </aside>

  <main class="main-content" style="margin-left: 60px;">
    <router-outlet></router-outlet>
  </main>
</div>
