<div class="dashboard-container">
    <aside [class.collapsed]="!menuAbierto">
      <button (click)="toggleMenu()" class="toggle-btn">
        ☰
      </button>
  
      <div class="menu-item disabled">
        🗂️ <span *ngIf="menuAbierto">Ver todos los reportes</span>
      </div>
  
      <div class="menu-item" (click)="navegar('/dashboard/reportes/crear')">
        📝 <span *ngIf="menuAbierto">Reportar un incidente</span>
      </div>
  
      <div class="menu-item" (click)="navegar('/dashboard/reportes/mis')">
        📋 <span *ngIf="menuAbierto">Mis reportes</span>
      </div>
  
      <div class="menu-item disabled">
        🔔 <span *ngIf="menuAbierto">Notificaciones</span>
      </div>
  
      <div class="menu-item" (click)="navegar('/dashboard/perfil')">
        ⚙️ <span *ngIf="menuAbierto">Editar perfil</span>
      </div>
  
      <button class="logout-btn" (click)="cerrarSesion()">
        🔒 <span *ngIf="menuAbierto">Cerrar Sesión</span>
      </button>
    </aside>
  
    <main>
        <router-outlet></router-outlet>
    </main>
  </div>
  